html,
button,
input,
select,
textarea {
    color: #343434;
}

html {
    font-size: 1em;
    line-height: 1.4;
}
html,
body{
    width: 100%;
    min-height: 100%;
}

::-moz-selection {
    background: #fc4a65;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #fc4a65;
    color: #fff;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
    font-size: 28px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
.header {
    border-top: 30px solid #fffde8;
    width: 100%;
}

.container {
    width: 1230px;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.nav {
    background: #000;
    height: 65px;
    width: 100%;     
}

#logo {
    font-size: 0px;
    color: transparent;
    text-indent: 1000px;
    background: url('../img/layout/logo.png');
    width: 192px;
    height: 232px;
    position: absolute;
    left: 93px;
    top: -30px;
}
#logo:before{
    content: '';
    display: block;
    border-bottom: 232px solid transparent;
    border-left: 0 solid transparent;
    border-top: 0 solid transparent;
    border-right: 107px solid #fffde8;
    position: absolute;
    left: -107px;
    top: 0;
}
#logo:after{
    content: '';
    display: block;
    border-bottom: 232px solid transparent;
    border-right: 0 solid transparent;
    border-top: 0 solid transparent;
    border-left: 107px solid #fffde8;
    position: absolute;
    right: -107px;
    top: 0;
}

#menu {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu li{
    float: left;
    height: 65px;
    color: #fff;
    line-height: 65px;
}
#menu li a{
    text-decoration: none;    
    display: block;
    height: 100%;
    width: auto;
    padding: 0 15px;
    line-height: 65px;
    text-transform: uppercase;
    color: #fff;
}

.banner {
    width: 100%;
    height: 404px;
    background: url('../img/layout/banner01.png') center center no-repeat;
    background-size: cover;
}
.banner.intern {
    height: 300px;
}

.accessinfo {
    height: 88px;
    width: 100%;
    background: #fffde8;
    position: relative;
    overflow: hidden;
}

.accessinfo:before{
    content: '';
    display: block;
    position: absolute;
    left: -30px;
    width: 50%;
    height: 100%;
    background: #ffd336;
    
    -webkit-transform: skewX(30deg);
}

.half {
    float: left;
    position: relative;
    width: 50%;
}

.accessinfo p {
    line-height: 88px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    color: #000;
}

#eventId {
    text-align: center;
}

#dateTime {
    font-weight: 400;
}

#footerLogo {
    display: block;
    margin: 0 auto;
    padding: 0;
    background: url('../img/layout/logo.png') no-repeat center center;
    width: 192px;
    height: 232px;
    position: relative;
    font-size: 0px;
    color: transparent;
    text-indent: -1000px;
/*    bottom: -47px;*/
}
#footerLogo:before{
    content: '';
    display: block;
    border-top: 232px solid transparent;
    border-left: 0 solid transparent;
    border-bottom: 0 solid transparent;
    border-right: 107px solid #fffde8;
    position: absolute;
    left: -107px;
    top: 0;
}
#footerLogo:after{
    content: '';
    display: block;
    border-top: 232px solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 107px solid #fffde8;
    position: absolute;
    right: -107px;
    top: 0;
}

.bottomLogoHolder {
    border-bottom: 47px solid #fffde8;
    height: 232px;
    box-sizing: border-box;
}

.blackTape {
    background: #000;
    width: 100%;
    height: auto;
    padding: 25px 0;
}

#bottomMenu {
    display: inline-block;
    position: relative;
    left: 50%;
    margin: 25px 0;
    padding: 0;
    list-style: none;
    
    -webkit-transform: translateX(-50%);
}
#bottomMenu li{
    float: left;
    color: #fff;
    font-size: 20px;
}
#bottomMenu li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    padding: 0 15px;
}

#bottomSocial {
    display: inline-block;
    position: relative;
    left: 50%;
    margin: 0;
    padding: 0;
    list-style: none;
    
    -webkit-transform: translateX(-50%);
}
#bottomSocial li{
    float: left;
    width: 46px;
    height: 46px;
    background: #fff;
    margin: 0 3px;
    border-radius: 100%;
}
#bottomSocial li a{
    display: block;
    height: 46px;
    width: 46px;
    color: #000;
    line-height: 59px;
    text-align: center;    
}

.pageTitle {
    position: relative;
}
.pageTitle h2{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: #000;
    font-size: 100px;
    font-weight: bold;
    text-align: right;
}

#contato {
    padding-top: 30px;
    padding-bottom: 35px;
}
#contato select{
    width: 95.27%;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid #000;
    margin-bottom: 22px;
    padding-left: 25px;
    font-size: 28px;
    color: #000;
}

#contato textarea{
    width: 100%;
    height: 260px;
    border: 1px solid #000;
    padding: 28px;
    box-sizing: border-box;
    margin-bottom: 43px;
}
#contato input#ddd{
    width: 17.56%;
    margin-right: 2.41%;
}
#contato input#phone{
    width: 74.30%;
}
#contato ::-webkit-input-placeholder { color:#000; }
#contato ::-moz-placeholder { color:#000; } /* firefox 19+ */
#contato :-ms-input-placeholder { color:#000; } /* ie */
#contato input:-moz-placeholder { color:#000; }
#contato input{
    width: 95.27%;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid #000;
    margin-bottom: 22px;
    padding-left: 25px;
    font-size: 28px;
    color: #000;
}
#contato button{
    display: block;
    width: 290px;
    height: 65px;
    margin: 0 auto;
    background: #626262;
    border: 0 none;
    color: #000;
    text-transform: uppercase;
    font-size: 20px;
}

.right {
    float: right;
}
